/* ===============================
   기본 설정
   =============================== */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: "Pretendard", sans-serif;
  overflow: auto;
}

/* ===============================
   전체 컨테이너
   =============================== */
.elegrade-container {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ===============================
   로고
   =============================== */
.elegrade-logo {
  position: absolute;
  top: 1vh;
  left: 1vw;
  display: flex;
  align-items: center;
}

.logo {
  width: 6vw;
  height: 6vw;
  margin-top: -1vw;
}

.logotext {
  width: 25vw;
  height: 8vw;
  margin-left: -1vw;
}

/* ===============================
   제목
   =============================== */
.elegrade-title {
  margin-top: 5vh;
  font-size: 4.5vw;
  font-weight: 900;
  color: #000;
}

/* ===============================
   박스 그룹
   =============================== */
.elegrade-box-wrapper {
  margin-top: 21vh;
  display: flex;
  gap: 4vw;
}

/* ===============================
   박스
   =============================== */
.elegrade-box {
  width: 13vw;
  height: 13vw;
  border: 0.4vw solid #000;
  border-radius: 2vw;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s ease;
  cursor: pointer;
}

.elegrade-box:hover {
  transform: scale(1.06);
}


/* ===============================
   텍스트 (ele 기준)
   =============================== */
.elegrade-text {
  font-size: 2.5vw;
  font-weight: 800;
  color: #000;
  margin: 0;
}
