html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Pretendard", sans-serif;
  overflow-x: hidden;
}

/* 전체 컨테이너 */
.geo3-container {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* 로고 */
.geo3-logo {
  position: absolute;
  top: 1vh;
  left: 1vw;
  display: flex;
  align-items: center;
}

.logo {
  width: 6vw;
  height: 6vw;
  margin-top: -1vw;
}

.logotext {
  width: 25vw;
  height: 8vw;
  margin-left: -1vw;
}

/* 제목 */
.geo3-title {
  margin-top: 5vh;
  font-size: 4.5vw;
  font-weight: 900;
  color: #000;
}

/* 박스 그룹 */
.geo3-box-wrapper {
  margin-top: 10vh;
  display: flex;
  gap: 8vw;
}

/* 박스 */
.geo3-box {
  width: 19vw;
  height: 19vw;
  background: #fff;
  border: 0.4vw solid #000;
  border-radius: 2vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.2s ease;
}

.geo3-box:hover {
  transform: scale(1.06);
}


/* 텍스트 */
.geo3-text {
  font-size: 3.5vw;
  font-weight: 800;
  color: #000;
  margin: 0;
}
