html, body, #root {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background:#fff;
  font-family:"Pretendard";
}

/* 전체 컨테이너 */
.sci3-container {
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:relative;
  background:#fff;
}

/* 로고 */
.sci3-logo {
  position:absolute;
  top:4vh;
  left:2vw;
  display:flex;
  align-items:center;
}

.sci3-logo-dot {
  width:4vw;
  height:4vw;
  background:#1C91FF;
  border-radius:50%;
  margin-right:1.5vw;
}

.sci3-logo-text {
  font-size:3.5vw;
  font-weight:800;
  margin:0;
  color:#1C91FF;
}

/* 제목 */
.sci3-title {
  margin-top:5vh;
  font-size:4.5vw;
  font-weight:900;
  color:#000;
}

/* 박스 그룹 */
.sci3-box-wrapper {
  margin-top:13.7vh;
  display:flex;
  gap:4vw;
}

/* 박스 */
.sci3-box {
  width:17vw;
  height:17vw;
  background:#fff;
  border:0.4vw solid #000;
  border-radius:2vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  transition:0.2s ease;
  cursor:pointer;
}

.sci3-box:hover {
  transform:scale(1.06);
}

/* 아이콘 */
.sci3-icon {
  width:7vw;
  height:auto;
  margin-bottom:2vh;
}

/* 텍스트 */
.sci3-text {
  font-size:2.5vw;
  font-weight:800;
  color:#000;
  margin:0;
}
