html, body, #root {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background:#fff;
  font-family:"Pretendard";
}

/* 컨테이너 */
.soc3-container {
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:relative;
  background:#fff;
}

/* 로고 */
.soc3-logo {
  position: absolute;
  top: 1vh;
  left: 1vw;
  display: flex;
  align-items: center;
}

.logo {
  width: 6vw;
  height: 6vw;
  margin-top: -1vw;
}

.logotext {
  width: 25vw;
  height: 8vw;
  margin-left: -1vw;
}

/* 제목 */
.soc3-title {
  margin-top:5vh;
  font-size:4.5vw;
  font-weight:900;
  color:#000;
}

/* 박스 영역 */
.soc3-box-wrapper {
  margin-top:17.5vh;
  display:flex;
  gap:4vw;
}

/* 박스 */
.soc3-box {
  width:15vw;
  height:15vw;
  background:#fff;
  border:0.4vw solid #000;
  border-radius:2vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  transition:0.2s ease;
  cursor:pointer;
}

.soc3-box:hover { transform:scale(1.06); }

.soc3-text {
  font-size:3.5vw;
  font-weight:800;
  color:#000;
  margin:0;
}
