html, body, #root { 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
  background: #fff;
  font-family: "Pretendard"; 
}

/* 컨테이너 */
.soc2-container { 
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* 로고 */
.soc2-logo {
  position: absolute;
  top: 1vh;
  left: 1vw;
  display: flex;
  align-items: center;
}

.logo {
  width: 6vw;
  height: 6vw;
  margin-top: -1vw;
}

.logotext {
  width: 25vw;
  height: 8vw;
  margin-left: -1vw;
}

/* 제목 */
.soc2-title {
  margin-top: 5vh;
  font-size: 4.5vw;
  font-weight: 900;
  color: #000;
}

/* 박스 그룹 */
.soc2-box-wrapper {
  margin-top: 13.7vh;
  display: flex;
  gap: 4vw;
}

/* 박스 */
.soc2-box {
  width: 17vw;
  height: 17vw;
  border: 0.4vw solid #000;
  border-radius: 2vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  cursor: pointer;
}
.soc2-box:hover { transform: scale(1.06); }

/* 아이콘 */
.soc2-korean {
  width: 8vw;
  height: auto;
  margin-bottom: 2vh;
}

.soc2-math {
  width: 8vw;
  height: auto;
  margin-bottom: 2vh;
}

.soc2-english {
  width: 8vw;
  height: auto;
  margin-bottom: 2vh;
}

.soc2-society {
  width: 10vw;
  height: auto;
  margin-bottom: -0.5vh;
  margin-top: -2vh;
}

/* 텍스트 */
.soc2-text {
  font-size: 3.5vw;
  font-weight: 800;
  color: #000;
  margin: 0;
}
