/* ===============================
   기본 설정
   =============================== */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: "Pretendard", sans-serif;
  overflow: auto; /* 창 작아질 때 스크롤 허용 */
}

/* ===============================
   전체 컨테이너 (브라우저 100%)
   =============================== */
.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;   /* 가운데 정렬 */
  align-items: center;
  position: relative;
  background: #fff;
}

/* ===============================
   디자인 캔버스
   =============================== */
.home-content {
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
}

/* ===============================
   로고
   =============================== */
.home-logo {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  align-items: center;
}

.home-logo-dot {
  width: 60px;
  height: 60px;
  background: #1C91FF;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.home-logo-text {
  /*font-style: pretendard;*/
  font-size: 85px;
  font-weight: 700;
  color: #1C91FF;
  margin: 0;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* ===============================
   제목
   =============================== */
.home-title {
  position: absolute;
  top: 350px;
  left: 360px;
  font-size: 90px;
  font-weight: 900;
  color: #3B3B3B;
  margin: 0;
}

/* ===============================
   서브타이틀
   =============================== */
.home-subtitle {
  position: absolute;
  top: 470px;
  left: 350px;
  font-size: 36px;
  font-weight: 700;
  color: #6C6767;
  margin: 0;
}

/* ===============================
   버튼
   =============================== */
.home-button {
  position: absolute;
  top: 540px;
  left: 310px;
  width: 650px;
  height: 100px;
  font-size: 70px;
  font-weight: 700;

  background: #1C91FF;
  color: white;
  border: 1px solid black;
  border-radius: 30px;
  transition: transform 0.2s ease;
  cursor: pointer;


  display: flex;
  justify-content: center;
  align-items: center;

  text-shadow:
      -1px 0   0 #000,
       1px 0   0 #000,
       0   -1px 0 #000,
       0    1px 0 #000;
  
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.home-button:hover {
  transform: scale(1.05);
  border-color: #000;
}

/* ===============================
   호랑이 이미지
   =============================== */
.home-tiger {
  position: absolute;
  top: 45px;
  left: 1000px;
  width: 600px;
  height: auto;
}
