/* ===============================
   기본 설정
   =============================== */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: "Pretendard", sans-serif;
  overflow: auto;
}

/* ===============================
   전체 컨테이너
   =============================== */
.middle-container {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ===============================
   로고
   =============================== */
.middle-logo {
  position: absolute;
  top: 1vh;
  left: 1vw;
  display: flex;
  align-items: center;
}

.logo {
  width: 6vw;
  height: 6vw;
  margin-top: -1vw;
}

.logotext {
  width: 25vw;
  height: 8vw;
  margin-left: -1vw;
}

/* ===============================
   제목
   =============================== */
.middle-title {
  margin-top: 5vh;
  font-size: 4.5vw;
  font-weight: 900;
  color: #000;
}

/* ===============================
   박스 정렬
   =============================== */
.middle-box-wrapper {
  margin-top: 10vh;
  display: flex;
  gap: 8vw;
}

/* ===============================
   박스 디자인
   =============================== */
.middle-box {
  width: 19vw;
  height: 19vw;
  border: 0.4vw solid #000;
  border-radius: 2vw;
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: transform 0.2s ease;
  cursor: pointer;
}

.middle-box:hover {
  transform: scale(1.06);
}

/* ===============================
   아이콘
   =============================== */
.middle-icon {
  width: 12vw;
  height: auto;
  margin-bottom: -2vh;
  margin-top:-2vh;
}

/* ===============================
   텍스트
   =============================== */
.middle-text {
  font-size: 3.5vw;
  font-weight: 800;
  color: #000;
  margin: 0;
}
