/* src/styles/MainPage/Carousel.css */
.carousel {
  position: relative;
  
  /* 화면 전체 너비로 확장 */
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden; 
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  border: none;
  background: transparent;
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.arrow.left {
  left: 0; 
  padding-left: 5px;
}

.arrow.right {
  right: 0;
  padding-right: 5px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.03);
  color: #1C91FF;
}

.carousel-content {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  padding: 0 50px; 
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.big-section {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-section {
  flex: 1;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  align-content: center;
}

@media (max-width: 1024px) {
  .carousel-content {
    flex-direction: column;
    padding: 0 20px;
  }
  .arrow {
    display: none;
  }
  .big-section, .small-section {
    width: 100%;
    flex: auto;
  }
}