/* 전체 화면 꽉 채우기 설정 */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  font-family: "Pretendard", sans-serif;
  overflow: hidden;
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 0.5vw;
  left: 2vw;
  display: flex;
  align-items: center;
}


.logo-text {
  font-size: 4vw;
  font-weight: 750;
  text-shadow: 0 0.3vw 0.6vw rgba(0, 0, 0, 0.25);
  color: #1c91ff;
}

/* 메인 영역 */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0vw;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 5vw;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateY(-5vh);
}

/* 제목 */
.title {
  color: #3b3b3b;
  -webkit-text-stroke: 0.03vw #000;
  font-size: 4vw;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  width: 27vw;
  margin-bottom: 1vw;
}

/* 버튼 공통 */
.btn-continue,
.btn-change {
  font-family: "Pretendard", sans-serif;
  border: none;
  border-radius: 0.8vw;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 0.3vw 0.5vw rgba(0, 0, 0, 0.1);
}

/* Continue 버튼 (Title보다 살짝 큼) */
.btn-continue {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C91FF;
  color: white;
  font-size: 3.5vw;
  font-weight: 700;
  width: 30vw;
  height: 4.5vw;
  border: None;
  border-radius: 1.5vw;
  box-shadow: 0 0.4vw 0.4vw rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.2s ease;
  margin-bottom: 1vw;
}

.btn-start:hover {
  background-color: #1C91FF;
  transform: scale(1.03);
}

.btn-continue:hover {
  background-color: #1C91FF;
  transform: scale(1.03);
}

/* 계정 변경 버튼 (Continue보다 살짝 작게) */
.btn-change {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #000;
  font-size: 3vw;
  font-weight: 700;
  width: 30vw;
  height: 4.5vw;
  border: 0.2vw solid #000;
  border-radius: 1.2vw;
  box-shadow: 0 0.4vw 0.4vw rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-change:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
}

/* 버튼 묶음 */
.btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}

/* 호랑이 이미지 (Home과 동일 크기) */
.tiger {
  width: 40vw;
  height: auto;
  object-fit: contain;
  transform: translateY(-3.5vh);
}

/* 하단 상태 텍스트 */
.status-text {
  position: absolute;
  bottom: 2.5vw;
  color: #444;
  font-weight: 500;
  font-size: 0.9vw;
}
